/swupdate.key
/swupdate.pem
/swupdate.aes-key
/mkswu.conf
/mkswu.conf.autosave*
/mkimage.conf
/mkimage.conf.autosave*
/mkimage.conf.defaults
/initial_setup.desc
# dot files are usually swu build dirs: ignore all except a few patterns
.*
!.gitignore
!.ssh
!.env
# we don't want output objects
*.swu
# common input binaries
*.tar.zst
*.tar.gz
*.tar.xz
*.img
imx-boot*
# debian files
debian/debhelper-build-stamp
debian/files
debian/mkswu
debian/mkswu.substvars
