/*.tar
# kernel_update_plain
/Image
/*.dtb
/inst
# kernel_update_apk
/linux-at-*apk
/apk-add
# encrypted_rootfs_linux_update
/Image.signed
# encrypted_imxboot_update
/imx-boot_armadillo_x2.enc
/armadillo_x2.dek_offsets
